{# templates/blog/tag.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <strong>Tags :</strong>
    {% for article in articles %}
        <li><a href="{{ path('blog_show', { 'slug': article.title })}}">{{ article.title }} </a> </li>
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>
{% endblock %}
